.loginButton {
  border-radius: 5px;
  border: 1px solid #ff9900;
  padding: 5px 10px;
  font-weight: bold;
  color: #ff9900;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.loginButton:hover {
  background-color: #ff9900;
  color: white;
  border-color: transparent;
}
